<section id="quiz">
  <header>
    <button class="back-button" routerLink="../">
      <mat-icon fontIcon="arrow_back_ios"></mat-icon>
    </button>
    <p class="module-title">{{ moduloSelecionado | titlecase }}</p>
  </header>

  <main class="content" *ngIf="!fimQuiz">

    <p class="section-title">Quiz</p>

    <section class="quiz-container" *ngIf="perguntas[perguntaAtual] as atual">

      <!-- TELA: ALTERNATIVA -->
      <section *ngIf="atual.tipo === 'alternativa'">

        <section class="question-area">
          <img [src]="atual.gif" alt="símbolo" class="question-image">
          <h2 class="question-title">{{ atual.texto }}</h2>
        </section>

        <section class="options">
          <button *ngFor="let resp of atual.respostasValues" class="option" (click)="selecionarOpcao(resp)"
            [class.correct]="respostaSelecionada === resp && respostaCorreta === true"
            [class.wrong]="respostaSelecionada === resp && respostaCorreta === false"
            [disabled]="respostaCorreta === true">
            <strong>{{ resp.key }}</strong>
          </button>
        </section>

        <br>

        <section class="feedback" *ngIf="respostaCorreta !== null">
          <p *ngIf="respostaCorreta" class="correct-text">✅ Você acertou!</p>
          <p *ngIf="!respostaCorreta" class="wrong-text">❌ Resposta incorreta.</p>
        </section>

        <button class="verify-button" (click)="avancarQuiz()" *ngIf="respostaCorreta">
          {{ textoBotao }}
        </button>

      </section>

      <!-- TELA: SEQUÊNCIA -->
      <section *ngIf="atual.tipo === 'sequencia'">

        <section class="question-area">
          <img [src]="atual.gif" alt="símbolo" class="question-image">
          <h2 class="question-title">{{ atual.texto }}</h2>
        </section>

        <section class="sequencia">
          <h3 *ngFor="let resp of sequenciaSelecionada">
            <strong>{{ resp.key }}</strong>
          </h3>
        </section>

        <br>

        <section class="options">
          <button *ngFor="let resp of atual.respostasValues" class="option" (click)="selecionarSequencia(resp)"
            [class.correct]="resp.value === true" [class.wrong]="resp.value === false"
            [disabled]="respostaCorreta === true">
            <strong>{{ resp.key }}</strong>
          </button>
        </section>

        <br>

        <section class="feedback" *ngIf="respostaCorreta !== null">
          <p *ngIf="respostaCorreta" class="correct-text">✅ Você acertou!</p>
          <p *ngIf="!respostaCorreta" class="wrong-text">❌ Resposta incorreta.</p>
        </section>

        <button class="verify-button" (click)="avancarQuiz()" *ngIf="respostaCorreta">
          {{ textoBotao }}
        </button>

      </section>

      <!-- TELA: GIF -->
      <section *ngIf="atual.tipo === 'gif'">

        <section class="question-area">
          <h2 class="question-title">{{ atual.texto }}</h2>
        </section>

        <section class="options">
          <button *ngFor="let resp of atual.respostasValues" class="option" (click)="selecionarOpcao(resp)"
           
            
            [class.correct]="respostaSelecionada === resp && respostaCorreta === true"
            [class.wrong]="respostaSelecionada === resp && respostaCorreta === false"
            [disabled]="respostaCorreta === true">>
            <img [src]="resp.key" alt="símbolo" class="question-image">
          </button>
        </section>

        <br>

        <section class="feedback" *ngIf="respostaCorreta !== null">
          <p *ngIf="respostaCorreta" class="correct-text">✅ Você acertou!</p>
          <p *ngIf="!respostaCorreta" class="wrong-text">❌ Resposta incorreta.</p>
        </section>

        <button class="verify-button" (click)="avancarQuiz()" *ngIf="respostaCorreta">
          {{ textoBotao }}
        </button>

      </section>

      <!-- TELA: CONJUNTO -->
      <section *ngIf="atual.tipo === 'conjunto'">

        <section class="question-area">
          <h2 class="question-title">{{ atual.texto }}</h2>
        </section>

        <section class="conjunto">

          <section class="options">
            <button *ngFor="let resp of atual.respostasKeys" class="option" (click)="selecionarLetra(resp)"
              (click)="selecionarLetra(resp)" [class.selected]="letraSelecionada?.key === resp.key"
              [class.correct]="respostasCorretas.includes(resp.key)" [class.wrong]="respostasErradas.includes(resp.key)"
              [disabled]="respostasCorretas.includes(resp.key)">
              <strong>{{ resp.key }}</strong>
            </button>
          </section>

          <section class="options">
            <button *ngFor="let resp of atual.respostasValues" class="option" (click)="selecionarGif(resp)"
              (click)="selecionarGif(resp)" [class.selected]="gifSelecionado?.key === resp.key"
              [class.correct]="gifsCorretos.includes(resp.key)" [class.correct]="gifsCorretos.includes(resp.key)"
              [class.wrong]="gifsErrados.includes(resp.key)" [disabled]="gifsCorretos.includes(resp.key)"
              [disabled]="gifsCorretos.includes(resp.key)">
              <img [src]="resp.value" alt="símbolo" class="question-image">
            </button>
          </section>
        </section>

        <br>

        <section class="feedback" *ngIf="respostaCorreta !== null">
          <p *ngIf="respostaCorreta" class="correct-text">✅ Você acertou!</p>
          <p *ngIf="!respostaCorreta" class="wrong-text">❌ Resposta incorreta.</p>
        </section>

        <button class="verify-button" (click)="avancarQuiz()" *ngIf="respostaCorreta">
          {{ perguntaAtual === perguntas.length - 1 ? 'Ver resultado' : textoBotao }}
        </button>

      </section>

    </section>

  </main>

  <div class="content" *ngIf="fimQuiz">
    <p class="section-title">Quiz</p>

    <div class="quiz-container" *ngIf="perguntas[perguntaAtual] as atual">
      <div class="question-area">
        <h2 class="question-title">🎉 Parabéns! 🎉</h2>
        <h2 class="question-title">Você completou o quiz!</h2>
      </div>

      <button class="verify-button" routerLink="/user/home">
        Voltar para tela inicial
      </button>
    </div>
  </div>
</section>