* {

    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6e9ff;
}

.bloco {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.titulo {
    background-color: white;
    padding: 1rem;
}

.titu {
    align-self: center;
}


img {

    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.corpo {
    text-align: center;
    width: 100rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 2rem solid white;
    border-radius: 2rem;
   
}

.corpo2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}



h2 {
    font-size: x-large;
}

section {
    background-color: white;

}

.opcao {
    background-color: #F7F8F7;
    color: black;
    padding: 1.5rem 5rem;
    font-size: medium;
    border-radius: 1rem;
    border-color: white;

}

.verificar {
    padding: 1rem 6rem;
}



.opcoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.coluna1, .coluna2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

button {
    background-color: #004AAD;
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 1rem;
    border-color: white;
}

