<section id="level">
  <header>
    <div class="logo">
      <img class="logo-icon" src="assets/logo.png" alt="image">
    </div>
    <button class="back-button" routerLink="/modulos">
      <!-- <mat-icon fontIcon="arrow_back_ios" ></mat-icon> -->
      <span>Voltar</span>
    </button>
    <!-- <h2>Nível {{ nivelId }}</h2> -->
  </header>

  <main>
<div class="gif-container">
  <img [src]="gif" alt="GIF da aula">
</div>

<p>{{ perguntaTexto }}</p>

<div class="options">
  <button *ngFor="let opcao of opcoes" (click)="verificarResposta(opcao)">
    {{ opcao.texto }}
  </button>
</div>
  </main>

  <div class="feedback" *ngIf="respostaCorreta !== null">
    <p [class.correto]="respostaCorreta" [class.errado]="!respostaCorreta">
      {{ respostaCorreta ? '✅ Resposta correta!' : '❌ Resposta errada!' }}
    </p>
  </div>
</section>
