html, body {
  height: 100%;
  margin: 0;         
  padding: 0;         
}

#sign-in {
  background-color: #d6e9ff;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  margin-top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 24px;
}

#sign-in .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 46px;
  gap: 24px;
}

#sign-in .image-icon  {
  display: flex;
  justify-content: center;
  margin-top: -24px;
  height: 320px;
}

#sign-in .image-icon img {
  height: 100%;
}

#sign-in .sign-in p{
  font-weight: 550;
  font-size: 1.4rem;
  margin: 0px;
}

.text-field {
  margin-bottom: 8px;
  width: 100%;
}

.text-field mat-form-field {
  width: 100%;
}

#sign-in .button-create button {
  font-size: 1.2rem;
  color: white; 
  background-color: #004AAD;
  padding: 24px 100px;
  width: 100%; 
  max-width: 400px;
  font-family: 'Lato', sans-serif;
  font-weight: 530;
}