#home {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
}

.user-status {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.modules-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 86vh;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.modules-content {
    display: flex;
    flex-direction: column;
}

.module-background {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 30vw;
    height: 30vw; */
}

.module-icon{
    color: #004AAD;
    font-size: 20vw;
    width: 20vw;
    height: 20vw;
}

.module img {
    height: 136px;
}

.module-title {
    font-size: 1.3rem;
    font-weight: 570;
    margin-bottom: 4px;
    margin-top: 16px;
}

.module-levels {
    color: #2F43B9;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 4px;
}

.module {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease;
    flex-wrap: wrap;
    padding: 3vw;
}

.module:hover {
    transform: scale(1.05);
}

.module .module-background,
.module .module-title,
.module .module-levels {
    pointer-events: none;
}