<section id="home">
    <div class="modules-content">
        <div class="modules-row">
            <div class="module" routerLink="../modulos/alfabeto">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="sort_by_alpha"></mat-icon>
                </div>
                <p class="module-title">Alfabeto</p>
            </div>

            <div class="module" routerLink="../modulos/saudacoes">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="waving_hand"></mat-icon>
                </div>
                <p class="module-title">Saudações</p>
            </div>

            <div class="module" routerLink="../modulos/familia">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="diversity_3"></mat-icon>
                </div>
                <p class="module-title">Família</p>
            </div>
        </div>
    </div>
</section>