#home {
    height: 87vh;
    background-color: #d6e9ff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.user-status {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.modules-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 96px;
    padding-bottom: 0px;
    padding-top: 25vh;
    box-sizing: border-box;
}

.modules-content {
    display: flex;
    flex-direction: column;
}

.module-background {
    background-color: white;
    border-radius: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
}

.module-icon{
    color:#004AAD; 
    font-size: 100px; 
    width: 100px; 
    height: 100px
}

.module img {
    height: 136px;
}

.module-title {
    font-size: 1.3rem;
    font-weight: 570;
    margin-bottom: 4px;
    margin-top: 16px;
}

.module-levels {
    color: #2F43B9;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 4px;
}

.module {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease;
}

.module:hover {
    transform: scale(1.05);
}

.module .module-background,
.module .module-title,
.module .module-levels {
    pointer-events: none;
}