#home {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
}

.user-status {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.modules-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    min-height: 86vh;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.modules-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-background {
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.module-icon{
    color: #004AAD;
    font-size: 120px;
    width: 120px;
    height: 120px;
}

.module img {
    height: 136px;
}

.icon-module-title {
    font-size: 1.3rem;
    font-weight: 570;
    margin-bottom: 4px;
    margin-top: 16px;
}

.module-levels {
    color: #2F43B9;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 4px;
}

.module {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease;
    flex-wrap: wrap;
    padding: 3vw;
}

.module:hover {
    transform: scale(1.05);
}

.module .module-background,
.module .icon-module-title,
.module .module-levels {
    pointer-events: none;
}

/* Responsividade */
@media (max-width: 768px) {
    /* Tamanho icones modulos */
    .modules-row {
        width: 100vw;
    }
    .module-icon {
        font-size: 70px;
        width: 70px;
        height: 70px;
    }
}
