<section id="home">
    <div class="modules-content">
        <div class="modules-row">
            <div class="module" routerLink="../modulos/alfabeto">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="sort_by_alpha"></mat-icon>
                </div>
                <p class="module-title">Alfabeto</p>
            </div>

            <div class="module" routerLink="../modulos/numeros">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="pin"></mat-icon>
                </div>
                <p class="module-title">Números</p>
            </div>

            <div class="module" routerLink="../modulos/saudacoes">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="waving_hand"></mat-icon>
                </div>
                <p class="module-title">Saudações</p>
            </div>

            <div class="module" routerLink="../modulos/profissoes">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="medical_services"></mat-icon>
                </div>
                <p class="module-title">Profissões</p>
            </div>

            <div class="module" routerLink="../modulos/perigo">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="warning"></mat-icon>
                </div>
                <p class="module-title">Perigo</p>
            </div>

            <div class="module" routerLink="../modulos/sintomas">
                <div class="module-background">
                    <mat-icon class="module-icon" fontIcon="healing"></mat-icon>
                </div>
                <p class="module-title">Sintomas</p>
            </div>
        </div>
    </div>
</section>