html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #d6e9ff;
}

#aula {
  min-height: 100vh;
  background-color: #d6e9ff;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.back-button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-color: transparent;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  margin-inline: 56px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.content {
  background-color: white;
  border-radius: 24px;
  padding: 40px;
  margin-inline: 56px;
  margin-block: 0px;
}

.module-title {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 32px;
}

.content .video-aula{
  width: 80%;
  justify-content: center;
}