#user {
    min-height: 100vh;
    background-color: #d6e9ff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #004AAD;
    font-family: 'Lato', sans-serif;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}

.logo .logo-icon {
    height: 70px;
}

.module-icon{
    color:#d6e9ff; 
    font-size: 60px; 
    width: 60px; 
    height: 60px;
    cursor: pointer;
}

.menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 0.5rem;
  margin-top: 35px;
}

.menu button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menu button:hover {
  background-color: #eee;
}