#user {
    min-height: 100vh;
    background-color: #d6e9ff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #004AAD;
    font-family: 'Lato', sans-serif;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}

.logo .logo-icon {
    height: 70px;
}

.module-icon{
    color:#d6e9ff; 
    font-size: 60px; 
    width: 60px; 
    height: 60px;
    cursor: pointer;
}