html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d6e9ff;
}

#modulos {
    /* min-height: 100vh; */
    background-color: #d6e9ff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.titulo-aula {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#004AAD;
    font-weight: bold;
}

.module-icon{
    color:#004AAD; 
    font-size: 100px;
    width: 100px;
    height: 100px;
}

.user-status {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

#modulos .content {
    background-color: white;
    border-radius: 24px;
    padding: 40px;
    margin-inline: 56px;
    margin-block: 0px;
}

#modulos .back-button {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-color: transparent;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    margin-inline: 56px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.header {
    display: flex;
    align-items: center;
}

#modulos .module-title {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.cards-container {
    display: flex;
    gap: 40px;
    justify-content: space-around;;
    width: 100%;
    max-width: 100%;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-style: solid;
    border-width: 2px;
    background-color: #d6e9ff;
    border-color: #3043B8;
    cursor: pointer;
}

.card img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.card.clickable {
  cursor: pointer;
  transition: transform 0.2s;
}

.card.clickable:hover {
  transform: scale(1.05);
}
