#modulos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.card-icon {
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.module-icon {
    color: #004AAD;
    font-size: 120px;
    width: 120px;
    height: 120px;
}

.user-status {
    display: flex;
    flex-direction: row;
    gap: 160px;
}

#modulos .content {
    padding-top: 40px;
}

.header {
    display: flex;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    ;
    width: 100%;
    max-width: 100%;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease;
    flex-wrap: wrap;
    padding: 3vw;
}

.card img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.card.clickable {
    cursor: pointer;
    transition: transform 0.2s;
}

.card.clickable:hover {
    transform: scale(1.05);
}

.icon-title {
    font-size: 1.3rem;
    font-weight: 570;
    margin-bottom: 4px;
    margin-top: 16px;
}

/* Responsividade */
@media (max-width: 768px) {
    /* .card {
    width: 150px;
    height: 150px;
  } */
}