<section id="modulos">
  <div class="header">
    <button class="back-button" routerLink="/user/home">
      <mat-icon fontIcon="arrow_back_ios"></mat-icon>
    </button>
    <p class="module-title">{{ moduloSelecionado }}</p>
  </div>

  <div class="content">

    <div class="cards-container">
      <!-- Aula -->
      <div class="card" [routerLink]="['/user/modulos', moduloSelecionado.toLowerCase(), 'aula']">
        <div class="titulo-aula">
          <mat-icon class="module-icon" fontIcon="school"></mat-icon>
          <p class="lesson-title">Aula</p>
        </div>
      </div>

      <!-- Quiz -->
      <div class="card quiz-card" [routerLink]="['/user/modulos', moduloSelecionado.toLowerCase(), 'quiz']">
        <div class="titulo-aula">
          <mat-icon class="module-icon" fontIcon="quiz"></mat-icon>
          <p class="lesson-title">Quiz</p>
        </div>
      </div>
    </div>
  </div>
</section>
